<div class="ion-padding">
  <h2>About</h2>
  <p>
    See <a href="https://github.com/LePau/written-quality">GitHub for source code and more</a>
  </p>
  <p>
    This project is primarily a demonstration of my approach to development using technology I am familiar with. It will
    contain coding conventions, project organization, and nuances that may be unique to me. The goal is for others to
    get a sense for my style, practices, and competency towards creating a usable "prod ready" solution to a new problem
    in a short time span.
  </p>
  <h2>Why did I pick this problem?</h2>
  <p>
    I wanted to explore the available AI/NLP services provided by the Google Cloud Platform. I am interested in the
    problem of using AI to help grade and guide us (humans) towards writing more meaningful and objective content,
    especially when it comes to the decisions we make regarding policy and current affairs. The ultimate idea would be
    to identify or remove human bias that is typically passed along while delivering news or information.
  </p>
  <p>
    My goal with this small project was to be able to classify content overall with two main qualities: neutrality and
    stoicism. Where neutrality is giving minimal criticism or praise while discussing a subject and stoicism is the lack
    of emotion while doing it.
  </p>
  <h2>What did I learn?</h2>

  <p>
    I learned that Google NLP provides some pretty basic AI and NLP services, which I believe are inferior to others
    like OpenAI. The closest function for detecting bias and emotion is sentiment analysis. Unfortunately, the data fed
    to this learned algorithm is too broad or just not the right application for my purposes.
  </p>

  <p>
    For example, I fed it an article regarding Tom Brady and it had "better" sentiment and lower "emotional" ratings
    than a documentation piece regarding Ionic progress bars. I got a bit distracted in this area, and eventually
    accepted that my timeframe to achieve my above goal would not allow for much more tinkering. So, I pivoted the
    application to sentiment and length of the article, while breaking down the sentiment for each sentence, so that the
    user can observe the algorithm the way I did.

  </p>

</div>